<h1 class="title">Ejercicio Seminario 6</h1>
<!-- imagen logo.png -->
<img src="assets/logo.png" alt="Logo" class="logo">
<div class="home-container">
  <div class="row">
    <div class="col-12">
      <p>Probar ejercicio para:</p>
    </div>
  </div>
  <!-- Contenedor de botones con rutas -->
  <div class="row">
    <div class="col-12">
       <!-- Añadir routerLink para navegar a las rutas de profesor y asignatura y buscador correspondientes -->
        <button class="home-button" routerLink="/profesor">Profesor</button>
        <button class="home-button" routerLink="/asignatura">Asignatura</button>
        <button class="home-button" routerLink="/buscador">Buscador</button>
    </div>
  
</div>
