<h1 class="text-center">Bienvenido a la actividad de seminario 6</h1>
<div class="home-container">
    <div class="row">
        <div class="col-12">
          <img src="./public/logo.png" alt="Logo" class="img-fluid">
        </div>
      </div>
  <div class="row">
    <div class="col-12">
      <p>Probar ejercicio para:</p>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <button class="btn btn-primary" routerlink="/profesores">Profesores</button>
    </div>
    <div class="col-6">
      <button class="btn btn-primary" routerlink="/alumnos">Alumnos</button>
    </div>
  </div>
  
</div>
